.settings_page_social-elementor div#wpbody-content {
    padding-bottom: 40px;
}

.notice:not(.social-notice) {
	display: none;
}
.social-flex {
	-js-display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
}

.form-field p.social-p {
	margin: 1em 0;
}

.settings_page_social-elementor #wpcontent {
	padding-left: 0;
}

.social-top-links {
    font-weight: bold;
    letter-spacing: 0.1px;
	font-style: italic;
}

.plug-author-title {
	font-size: 25px;
    font-weight: bold;
}

.social-container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}

.settings_page_social-elementor .postbox span.dashicons {
    float: right;
}

.form-wrap .social-response-warning {
	display: block;
	color: #d02222;
}
.form-wrap .social-response-success {
	display: block;
 	color: #2dbe15;
}
.postbox .inside .form-wrap .social-integration-heading {
	font-size: 15px;
    font-weight: 600;
}
#social-menu-page .social-notice {
    max-width: 860px;
    margin: 0 auto;
}

.social-menu-page-wrapper a {
	text-decoration: none;
}

.social-general-form-wrap {
	width: 680px;
}

.social-bulk-actions-wrap {
	flex: auto;
	text-align: right;
}

.social-general-list .inside {
	padding: 0;
	margin: 0;
}

.social-list-section .social-widget-list .activate {
	border-left: 3px solid #008ec2;
	padding-left: 12px;
}

.social-widget-list a {
	text-decoration: none;
}

.social-widget-list li a:before {
	display: inline-block;
	margin-right: 2px;
	font: normal 20px/1 'dashicons';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	vertical-align: top;
}

.social-container .postbox .hndle {
	background: #fff;
	border-bottom: 2px solid #e6e6e6;
}
.social-container .postbox ul {
	margin: 0;
}
.social-widget-list a {
	line-height: 1.6;
}
.social-widget-list a:focus {
	box-shadow: none;
}

.social-branding-list {
	margin:0;
}
.social-menu-page-wrapper .social-container .clear {
	overflow: auto;
    visibility: visible;
    width: auto;
    height: auto;
}

.settings_page_social #wpcontent{
	padding: 0;
}

/* Header */
.social-menu-page-header.general .social-container,
.social-menu-page-header.branding .social-container,
.social-container.social-general,
.social-container.social-branding-wrapper {
	max-width: 1200px;
}
.social-title {
	flex: auto;
	align-content: flex-start;
	text-align: left;
	margin: 15px 0;
}
.social-title a,
.social-title span {
	display: block;
	outline: none;
	box-shadow: none;
	font-size: 1.5rem;
	color: #333333;
	font-weight: 500;
}

.social-header-icon {
	width: 200px;
	vertical-align: bottom;
}

.social-menu-page-header {
	background-color: #fff;
	text-align: center;
	padding: 10px 0;
	margin-bottom: 20px;
	box-shadow: 0 2px 0 #efefef, 0 2px 2px #ececec;
}

.social-hide-branding #poststuff #post-body.columns-2 {
	margin: 0 auto;
	max-width: 590px;
}

/* Spinner */
.social-button-spinner:before {
	font: normal 20px/.5 dashicons;
	speak: none;
	display: inline-block;
	padding: 0;
	top: 8px;
	left: -4px;
	position: relative;
	vertical-align: top;
	content: "\f463";
}

.social-button-spinner.loading:before {
	-webkit-animation: rotation 1s infinite linear;
	animation: rotation 1s infinite linear;
}

.social-title > a {
    display: flex;
    align-items: center;
}
.social-title .social-plugin-version {
    background-color: #8141bb;
    border-radius: 3px;
    font-size: 0.5em;
    font-weight: 400;
    margin-left: 10px;
    padding: 2px 7px;
	color: #fff;
	margin-top: 5px;
}

.social-widget-list #Blog-Pro.activate {
    border: unset !important;
}

/* Popular extensions */

#Blog .social-widget-title:after {
	content: "Free";
}

#Blog-Pro .social-widget-title:after {
	content: "Pro";
}

#Blog .social-widget-title:after,
#Blog-Pro .social-widget-title:after {
    color: #fff;
    background: #8141bb;
    font-size: 0.6em;
    font-weight: 600;
    position: relative;
    padding: 0.3em 0.6em;
    top: -1px;
    left: 12px;
    letter-spacing: 0.5px;
    line-height: 1em;
    text-transform: none;
    text-transform: uppercase !important;
    border-radius: 2px;
}

/* New admin widgets UI */

.postbox-container.social-sidebar .postbox,
.social-widgets-boxes .social-widget-wrapper,
.social-container.social-connect #side-sortables .postbox {
	border-radius: 6px;
    box-shadow: 0 5px 15px 7px #eee;
}

.postbox-container.social-sidebar .postbox h2,
.social-widgets-boxes .social-widget-wrapper h2,
.social-container.social-connect #side-sortables .postbox h2 {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.postbox-container.social-sidebar .postbox:hover,
.social-widgets-boxes .social-widget-wrapper:hover,
.social-container.social-connect #side-sortables .postbox:hover {
    box-shadow: 0 5px 15px 7px #ddd;
}

.social-widgets-boxes .social-widget-list {
    width: 100%;
    display: flex;
}

.social-widget-list a:before {
	display: inline-block;
	margin-right: 2px;
	font: normal 20px/1 'dashicons';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	vertical-align: top;
}

/* Update icon. */
.social-widget-list a.updating-message:before {
	color: #fff;
	content: "\f463";
}

/* Spins the update icon. */
.social-widget-list a.updating-message:before {
	-webkit-animation: rotation 2s infinite linear;
	animation: rotation 2s infinite linear;
}

.social-widgets-boxes .social-widget-wrapper {
	width: 50%;
	padding: 12px 20px 0px;
	transition: 0.3s;
	background: #fff;
    border-radius: 6px;
}

.social-widgets-boxes .social-widget-features {
	margin-bottom: 30px;
}

.social-widgets-boxes a.social-module-title {
    font-size: 18px;
    font-weight: 600;
}

.social-widgets-boxes .social-widget-wrapper:not(:last-child) {
    margin-right: 20px;
}

.social-list-section .social-widget-list .activate {
    padding: 15px;
}

.social-widgets-boxes a.social-activate-widget,
.social-widgets-boxes a.social-deactivate-widget,
.social-widgets-boxes a.get-pro-social {
    background: #8141bb;
    padding: 8px 18px;
    border-radius: 3px;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
    float: right;
    letter-spacing: 0.5px;
	margin-top: -2px;
}

.social-widget-wrapper  h3 {
	border-bottom: 1px solid #ccc;
	padding-bottom: 24px;
	margin-top: 10px;
}

.widget-feature b.feature {
    font-size: 18px;
    margin-right: 15px;
	color: #8141bb;
}

.widget-feature:last-child {
	padding-left: 30px;
}

h4.see-all-features {
	font-size: 15px;
	margin-bottom: 15px;
}

.social-widget-list .social-widget-wrapper.activate {
	border: 1.5px solid #8141bb !important;
	box-shadow: 0 5px 15px 7px #ddd;
}

.social-sidebar .postbox {
	padding-bottom: 5px;
}

/* Footer connections */

.social-container.social-connect {
    padding: 0;
}

.social-container.social-connect #side-sortables {
    display: flex;
    min-height: unset !important;
}

.social-container.social-connect #side-sortables .postbox {
	margin-right: 20px;
	min-width: 273px;
}

/* Responsive Alignment */

@media(max-width: 768px) {
    .social-widgets-boxes a.social-activate-widget, 
    .social-widgets-boxes a.social-deactivate-widget, 
    .social-widgets-boxes a.get-pro-social {
		margin: 15px 5px 15px 0px;
    }

    div.social-bulk-actions-wrap {
        margin-top: 20px;
	}

	.social-widgets-boxes .social-widget-features {
		display: block;
		width: unset;
	}

	.social-widget-features .left-features-section, 
	.social-widget-features .right-features-section {
		width: unset;
	}
	
	.social-widget-wrapper h3 {
		border-bottom: unset;
		text-align: center;
		margin-bottom: 40px;
	}
}

@media(max-width: 1026px) {
    .widget-feature:last-child {
        padding-left: unset;
    }

    .social-container.social-connect #side-sortables {
        display: unset;
    }

    .widget-feature:last-child b,
    .social-container.social-connect #side-sortables .postbox {
        margin-right: unset;
    }
}
