.elementor-element[data-widget_type="social-blog-posts.feed"] .social-blog-post-inner-wrapper {
	-js-display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
}

.social-blog-post-link-complete-yes.elementor-element[data-widget_type="social-blog-posts.feed"] .social-blog-post-complete-box-overlay {
	z-index: 2;
}

.elementor-element[data-widget_type="social-blog-posts.feed"] .social-blog-post-grid-layout {
	display: inline-block;
	width: 100%;
}

.elementor-element[data-widget_type="social-blog-posts.feed"] .social-blog-post-terms {
	display: inline-block;
}

.elementor-element[data-widget_type="social-blog-posts.feed"] .social-blog-post-content-wrapper {
	-webkit-box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.05);
	box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.05);
	z-index: 1;
}

.elementor-element[data-widget_type="social-blog-posts.feed"] .social-blog-post-bg-wrapper .social-blog-post-no-image .social-blog-post-content-wrapper {
	width: 100%;
}

.elementor-element[data-widget_type="social-blog-posts.feed"].social-blog-post-separator-left .social-blog-post-separator {
	margin-right: auto;
}

.elementor-element[data-widget_type="social-blog-posts.feed"].social-blog-post-separator-right .social-blog-post-separator {
	margin-left: auto;
}

.elementor-element[data-widget_type="social-blog-posts.feed"].social-blog-post-separator-center .social-blog-post-separator {
	margin-right: auto;
	margin-left: auto;
}

.elementor-element[data-widget_type="social-blog-posts.feed"] .social-blog-post-title {
	word-break: break-word;
}

@media (max-width: 767px) {
	.elementor-element[data-widget_type="social-blog-posts.feed"] .social-blog-post-inner-wrapper {
		display: block;
	}

	.elementor-element[data-widget_type="social-blog-posts.feed"] .social-blog-post-thumbnail,
	.elementor-element[data-widget_type="social-blog-posts.feed"] .social-blog-post-content-wrapper {
		width: 100% !important;
		margin:0 !important;
	}
}
